.container {
  align-items: center;
}

.title {
  font-size: 22px;
  text-align: center;
}
.title h3 {
  font-size: 18px;
  color: #383a3e;
  font-weight: bold;
}

.subtitle p {
  color: #383a3e;
  font-size: small;
  text-align: justify;
  margin: 5px 20px 0px;
}
.subtitle h6 {
  color: #5260ff;
  text-align: center;
  font-weight: bold;
}
